html, body {
    font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    font-weight: 400;
    -webkit-text-stroke-width: 0;
    -webkit-font-smoothing: subpixel-antialiased;

}

#header {
	color:#C3C0CA;  
	
	font-size:13px;
	width: 980px;
	margin:auto;
	background-color:#077CC6;
	height:35px;
}

#logo {
	width:195px;
	height:35px;
	float:left;
}

#search{
	display:inline-block;
	float:right;
	width:175px;
	height:35px;
	margin-right:5px;
	
}

.searchText {
	height:21px;
	margin: 5px auto;
}

#menu{
	display:inline-block;
	float:right;
	margin-top:10px;
	margin-bottom:10px;
}

#menu li {
	
	list-style-type:none;
	text-decoration:none;
	display:inline;
}

#menu li a {
	
	font-weight:bold;
	color:#E0E0E0;
	text-decoration:none;
	margin-right:10px;
}


#main{
	width: 960px;
	margin:auto;
	font-size:16px;
}


#main h1 {
	display:inline-block;
	font-weight:normal;
	font-size:53px;
	margin-top:15px;
	margin-bottom:10px;
}

#main img {
	margin-top:15px;
	margin-bottom:10px;
	float:right;
	display:inline-block;
}

.clear {
	height:5px;
}

#main a {
	color:#DC143C;
	text-decoration:none;
}

#main code{
	border: 1px solid black;
	font-weight:bold;
}

.copyright {
	color:#E0E0E0;
	padding-top:20px;
	display:block;
	font-weight:bold;
	text-decoration:underline;
	
}

.copyright  a {
	color:#E0E0E0;
}

#footer {
	font-weight:bold;
	color:#E0E0E0;
	text-align:center;
	height:70px;
	margin:auto;
	width: 980px;
	background-color:#077CC6;
	font-size:11px;
}